/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
.car-body {
  font-family: Arial, sans-serif;
  background-image: url(audi.jpg);
  background-position: fixed;
  background-size: cover;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.fot {
  font-size: 14px;
}

/* Car Container Styles */
.car-container {
  margin: 20px auto;
  padding: 30px;
  width: 80vw;
  height: 55vh;
  text-align: center;
  background-color: #C0C0C0;
  opacity: 85%;
  border: #000000 2px solid;
  border-radius: 30px;  
}

.car-container:hover {
  opacity:100%;
}

.car-heading {
  font-size: 24px;
  color: black;
  margin-top: 11px;
  margin-bottom: 18px;
}

.car-options {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.car-option button {
  padding: 10px 20px;
  background-color: rgb(231, 231, 231);
  border-radius: 11px;
  color: black;
  cursor: pointer;
}

.car-option button:hover {
  background-color: #deffb3;
}

/* Availability Info Styles */
.availability-info {
  margin-top: auto;
}

.availability-info p {
  margin: 12px 0;
}

.cn {
  font-size: 12px;
  font-weight: 400;
}

.cn:hover {
  font-size: 14px;
  cursor: pointer;
}
