/*Reset margin and padding for HTML and body**/
html, body {
  margin: 0;
  padding: 0;
} 

/* Set full-page to cover the entire viewport */
.full-page {
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
  padding:2rem;
  /* background-color: red; */
  background-image: url(rolls.jpg);
  background-position: center center;
  background-size: cover;
  
}
.inputContainer{
  justify-content: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
header {
  background-color: #000000; 
  color: rgb(255, 255, 255);
  padding: 13px 0; 
  text-align: center; 
  background-image: url(nav.jpg);
  background-size: cover, 16in;
}

/* Navigation styles */
nav ul {
  list-style: none;
  margin: 10px;
  padding: 3px;
  display: flex;
  text-align: left; 
  text-indent: 15px;
}

nav ul li {
  margin-right: 8px;
}

nav ul li a {
  color: rgb(255, 255, 255); 
  font-size: 20px;
  font-weight: 300;
} 

ul li:hover{
text-decoration:underline;
color: red;

}

/* Body content styles */
.body-content {
  flex: 1; 
  display: flex;  
  justify-content: center;
  align-items: center; 
}

.bodyh {
  max-width: fit-content; 
  width: 100%; 
  padding: 0 20px; 
}

/* Footer styles */
footer {
  background-color: #000000;
  color: #fff;
  padding: 5px 0;
  font-size: 16px;
  text-align: center; 
}


.containerT {
  display: flex;
  flex-direction: row; /* Change flex direction to column */
  justify-content: space-evenly; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  /* width: 25%; */
  height: 20vh; /* Adjust height to auto */
  margin-bottom: 14%;
  padding: 8px;
  border: 3px ridge #000000;
  background-color: #eeecdf;
  border-radius: 5px;
  color: black;
  border-radius: 20px;
  filter: opacity(90%);
}

.containerT:hover {
  filter: opacity(100%);
}

.date, .date2 {
  padding: 20px;
  margin: 8px;
  border: 2px solid #000000; 
  border-radius: 15px;
  cursor: pointer;
font-weight: 800;
}

.fontt{
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.fontt p{
  border: 5px rgba(0, 0, 0, 0.685) solid;
  border-radius: 50px;
  background-color: rgba(69, 62, 62, 0.529);
  margin-left: 5.5in;
  width: 60vh;
}

label {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.confirm-button {
  /* margin-top: 20px; */
  /* height: 30px; */
  padding:30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px; ;
  text-align: center;
  font-weight: 750;
}

.confirm-button:hover{
  background-color: rgba(137, 226, 137, 0.568);
}


/* Body styles */
.homepage-body {
  /* position: relative;
  background-image: url(rolls.jpg);
  background-size: cover;
  background-position: center; */
}

/* Body before styles */
.homepage-body::before {
  /* content: ""; */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: url(rolls.jpg); 
  background-size: cover; 
  background-position: center; 
}

/* Additional styles */
li.si{
  margin-left: 60%;
}


h1{
  color: beige;
}


a:-webkit-any-link.log1  {
  color:black;
  cursor: pointer;
  text-decoration: none;
}


a:-webkit-any-link{
  text-decoration: none;
}

.slider-wrapper{
  padding: 10px;
}


.slider-card{
  background-color: #fff;
  /* padding: 10px; */
  margin: 0 10px !important;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  overflow: hidden;

}