/* Reset margin and padding for HTML and body */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Set full-page to cover the entire viewport */
.full-page {
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
}

h1.v1{
  font-size: 40px;
  color: white;
  margin-top: 25px;
}
/* Header styles */
header {
  background-color: #000000; 
  color: #ffffff;
  padding: 15px 0; 
  text-align: center; 
  background-image: url(nav.jpg);
}

/* Navigation styles */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff; 
  font-size: 18px;
  font-weight: 500;
  text-decoration: none; 
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgba(255, 0, 0, 0.685);
}

/* Body content styles */
.body-content {
  flex: 1; 
  display: flex;  
  justify-content: center;
  align-items: center; 
}

.containerT {
  width: 80%;
  max-width: 400px; /* Adjust max-width as per requirement */
  margin: 20px auto;
  padding: 20px;
  border: 3px solid #000000;
  background-color: #a1a1a161;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  margin-bottom: 2in;
}

.containerT:hover {
  background-color:  #a1a1a193;
}


label[for=time]{
  font-size: 15px;
  font-weight: 700;
  color: white;
}

label{
  color: white;
}

.date, .date2 {
  width: 100%;
  max-width: 300px; /* Adjust max-width as per requirement */
  height: 35px;
  margin: 10px auto;
  border: 2px solid #000000; 
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.fontt{
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

.fontt p {
  border: none;
  border-radius: 25px;
  margin: 20px auto;
  padding: 10px;
  max-width: 80%; 
}

/* label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
} */

.confirm-button {
  text-decoration: none;
  padding: 5px;
  margin-bottom: 8px;
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  background-color: #c5ffaa80;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #45a049;
}

/* Footer styles */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 0;
  font-size: 20px;
  text-align: center; 
}


.homepage-body{
  background-image: url(imagess.jpg);
  background-size: cover;
}

.li{
  margin-left: 70%;
}


.location{
  width: 100%;
  max-width: 200px;
  height: 25px;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}


.location:focus{
  outline: none;
  border-color: green;
}

.carss{
  font-size: 25px;
  font-weight: bolder;
}